<p id="notice"><%= notice %></p>

<p>
  <b>Composer:</b>
  <%= @work.composer_id %>
</p>

<p>
  <b>Title:</b>
  <%= @work.title %>
</p>


<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
