<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @composer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @composer.last_name %>
</p>


<%= link_to 'Edit', edit_composer_path(@composer) %> |
<%= link_to 'Back', composers_path %>
